@using Indivis.Presentation.WebUICms.ViewComponents
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - Indivis.Presentation.WebUI</title>
    <!link rel="stylesheet" href="_content/Indivis.Presentation.WebUI.Views/lib/bootstrap/css/bootstrap.min.css" />
    @{
        await Html.RenderPartialAsync("~/Views/Shareds/Partials/_CmsEditPageHeadPartial.cshtml");
    }
    @await RenderSectionAsync("Head", required: false)
</head>
<body>

    <div class="widget-form-iframe js-widget-form-iframe">
        <div class="widget-form-iframe__body">
            <div class="widget-form-iframe__header">
                <h2 class="widget-form-iframe__header-title">başlık</h2>
            </div>


            <div class="widget-form-iframe__content">
                <iframe src="" height="100%" width="100%"></iframe>
            </div>

            <div class="widget-form-iframe__footer">
                <div class="widget-form-iframe__buttons">
                    <button type="reset" class="cms-btn cms-btn-danger js-widget-form-iframe-close" >İptal</button>
                    <button type="submit" class="cms-btn cms-btn-success js-widget-form-iframe-submit">Kaydet</button>
                    <button type="submit" class="cms-btn cms-btn-success js-widget-form-iframe-update-submit">Güncelle</button>
                </div>
            </div>
        </div>
    </div>



    <header>
        @{
            await Html.RenderPartialAsync("~/Views/Shareds/Partials/_CmdEditPageTopMenuPartial.cshtml");
            @await Component.InvokeAsync(nameof(WidgetsComponent));
        }
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <textarea name="content" id="editor">
        <p>This is some sample content!</p>
    </textarea>
   
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Indivis.Presentation.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="cms-modal" id="widget-list">

        <div class="cms-modal__dialog">

            <div class="cms-modal__dialog-header">
                <div class="cms-modal__dialog-header-title">
                    <h3>Merhaba dünya</h3>
                </div>
                <div class="cms-modal__dialog-header-btns">
                    <span class="cms-modal__dialog-close">&times;</span>
                </div>
            </div>
            <!-- Modal content -->
            <div class="cms-modal__dialog-content">
                
            </div>
            <div class="cms-modal__dialog-footer d-none">
                <p>burası footer</p>
            </div>

        </div>


    </div>

    

    <!script src="/lib/justvalidate/dist/just-validate.production.min.js"></!script>
    <!script src="_content/Indivis.Presentation.WebUI.Views/lib/bootstrap/js/bootstrap.bundle.min.js"></!script>
    <!script type="module" src="worker-assets/pages/CmsEditPage.js?v=@DateTime.Now.ToString("FFFFFFF")"></!script>
    <!script src="/lib/sweetalert/sweetalert2.all.min.js"></!script>
    <!script src="/lib/ckeditor/ckeditor.js"></!script>

    <script>
        
    </script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
