<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base  href="/" />
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />

    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/custom.style.css?v=@DateTime.Now.ToString("fffffff")" rel="stylesheet" type="text/css" />
    @await RenderSectionAsync("Header",false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    
    <!script src="~/lib/justvalidate/dist/just-validate.production.min.js"></!script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Custom Javascript(used by this page)-->
    @await RenderSectionAsync("Footer",false)
</body>
</html>
