
<form class="login-form">
    <input type="email" name="Email" />
    <input type="password" name="Password" />
    <button type="submit">Gönder</button>
</form>



<script type="module">
    import LoginService from './js/cms/Account/Login.js';

    const loginService = new LoginService(".login-form", "/api/account/login");
    loginService.executeAsync();

</script>