
<form class="login-form">
    <input type="email" name="Email" />
    <input type="password" name="Password" />
    <button type="submit">Gönder</button>
</form>



<script type="module">
    import LoginService from './js/cms/Account/Login.js';

    const loginService = new LoginService(".login-form", "https://localhost:7008/api/account/login");
    loginService.execute();

    /*
    document.querySelector(".login-form").addEventListener('submit', (e) => {
        e.preventDefault();

        const formData = new FormData(e.target);

        var jsonObject = {};
        formData.forEach(function (value, key) {
            jsonObject[key] = value;
        });

        console.log(JSON.stringify(jsonObject))
        fetch('https://localhost:7008/api/account/login', {
            method:'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonObject)
        }).then(res=>{
            return res.json();
        }).then(json => {

        })
        
    });
    */
</script>