@using Indivis.Core.Application.Interfaces.Data.Presentation
@using Indivis.Core.Application.Interfaces.Results
@using Indivis.Presentation.WebUI.Widgets.Models.TestWidget
@using Indivis.Presentation.WebUI.Views.Extensions;
@inject ICurrentResponse res

@if (Model.IsSuccess)
{
    <div class="test-widget">
        <div class="card">
            -
            @await Html.PageLocalizationAsync("widget-default", res, "Widget için deneme")

            @await Html.PageLocalizationAsync("widget-default-2", res, "Widget için deneme test")

            @await Html.PageLocalizationAsync("widget-default-5", res, "Widget için deneme test 55555")
            <h1>@Model.Data.Title</h1>
            <p> @Model.Data.Description Bu, basit bir HTML ve CSS örneğidir. CSS ile tasarımınızı güzelleştirebilirsiniz.</p>
            <button>Başlayın</button>
        </div>
    </div>
    
    <br />
}


