@using Indivis.Core.Application.Interfaces.Results
@using Indivis.Presentation.WebUI.Widgets.Models.TestWidget

@if (Model.IsSuccess)
{
    <div class="test-widget">
        <div class="card">
            <h1>@Model.Data.Title</h1>
            <p> @Model.Data.Description Bu, basit bir HTML ve CSS örneğidir. CSS ile tasarımınızı güzelleştirebilirsiniz.</p>
            <button>Başlayın</button>
        </div>
    </div>
    
    <br />
}


