

.cms-editpage-top{
    padding-left:20px;
    padding-right:20px;
    min-height:50px;
    z-index:999;
}

.cms-editpage-top__menu__logo {
}

.cms-editpage-top__menu{
    display:flex;
    width:100%;
    min-height:50px;

}
.cms-editpage-top__menu_mobilbtn{
    background-color:transparent !important;
    border:none !important;
    display:none;
}

.cms-editpage-top__menu_mobilbtn svg{
    fill:white;
    height:35px;
    width:35px;
}

.cms-editpage-top__menu__group {
    overflow-y: hidden;
    max-height: 0;
    min-height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cms-editpage-top__menu__group--toggle {
    max-height: 600px;
}

.cms-editpage-top__menu__group a,li{
    text-decoration:none;
    color:white;
    list-style-type:none;
}

.cms-editpage-top__menu__left ul, .cms-editpage-top__menu__right ul {
    height: 50px;
    display: flex;
    align-content: center;
    gap: 20px;
    align-items: center;
}

.cms-editpage-widget-p {
    position: relative;
}


.cms-editpage-widget {
    position: fixed;
    color: white;
    z-index: 99;
    background: #1e1e2d;
    right: 0px;
    z-index: 99;
    top: 75px;
    padding: 0 20px 40px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 200px;
    max-width: 230px;
    transition: 0.3s;
}

.cms-editpage-widget__header{
    padding-bottom:20px;
}
.cms-editpage-widget__button {
    position: relative;
    background: #ef305e;
    width: 100px;
    z-index: 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -87px;
    top: 50px;
    transform: rotate(-90deg);
}

.cms-editpage-widget--toggle {
    right:-230px;
}

.cms-editpage-widget__item{
    display:flex;
    max-height:100px;
    overflow:hidden;
    margin-top:10px;
    border-bottom:solid 1px;
}

.cms-editpage-widget__item:active{
    cursor:grabbing;
}

.cms-editpage-widget__item__image {
    display: block;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cms-editpage-widget__item__image svg{
    fill:white;
    height:35px;
}

.cms-editpage-widget__item__text{
    width:70%;
}

.cms-editpage-widget__item__title span{
    font-size:15px;
}
.cms-editpage-widget__item__des p{
    font-size:13px;
}



.zone-section {
   
}


.zone-widgets-container {
    border: dotted 3px transparent;
    padding: 10px;
    transition:1s;
}
.empty-widgets-container{
    min-height:100px;
}
.zone-widgets-container--active, .zone-widgets-container--dragover {
    border-color: #19875469;
    border-radius: 10px;
    animation: zone-widgets-container-border 1.5s ease-in-out infinite; /* Süreyi 5s yapıyoruz */
}
.zone-widgets-container--dragover {
    border-color: red;
    animation: none;
}
@keyframes zone-widgets-container-border {
    50% {
        border-color: transparent; /* Border kayboluyor */
    }

    100% {
        border-color: #19875469;
    }
}
.zone-buttons {
    display: flex;
    justify-content: flex-end;
}
.zone-buttons > .cms-btn {
    border-radius: 0.25rem 0.25rem 0 0;
}

.empty-widget{
  
}

/* The Modal (background) */
.cms-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    visibility: hidden;
}

.cms-modal__dialog-header {
    min-height: 50px;
    display: grid;
    grid-template-columns: 99% 1%;
}
.cms-modal__dialog-header-title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cms-modal__dialog-content {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    max-height: 50vh;
    overflow: auto;
    padding-top:5px;
    width:100%;
    
}

.cms-modal__dialog-footer {
    min-height: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Modal Content/Box */
.cms-modal__dialog {
    background-color: #fefefe;
    margin: 0% auto; 
    overflow: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-height: 75vh;
    transition: 0.5s;
    opacity:0;
    display:block;
}

.cms-modal__dialog--show {
    opacity: 1;
    margin: 7% auto; /* 15% from the top and centered */
}

.cms-modal__dialog-header-btns {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* The Close Button */
.cms-modal__dialog-close {
    color: #aaa;
    font-size: 35px;
    font-weight: bold;
}

.cms-modal__dialog-close:hover,
.cms-modal__dialog-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.widget-form-iframe {
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    background: white;
    display: flex;
    padding: 10px;
    visibility: hidden;
}

.widget-form-iframe--show {
    visibility: visible;
}

.widget-form-iframe__body {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.widget-form-iframe__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.widget-form-iframe__header {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.widget-form-iframe__footer {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.widget-buttons {
    max-height: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding-right:15px;
}
.widget-order-buttons {
    display: flex;
    flex-direction: column;
}

.widget-order-buttons > button{
    height:20px;
    width:auto;
    font-size:15px;
    text-align:center;
    line-height:15px;
    border:solid 1px;
    background:#ffc107;
    border-radius:3px;
    margin-top:1px;
}

@media (max-width: 768px) {
    .cms-editpage-top__menu {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .cms-editpage-top__menu__logo {
        display: flex;
        width: 100%;
    }
    .cms-editpage-top__menu_mobilbtn {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .cms-editpage-top__menu__group {
        grid-column: 1 / -1;
        display: block;
        width: 100%;
        margin-top:10px;
        min-height:0px;
    }
    .cms-editpage-top__menu__left{
        display: flex;
        width: 100%;
    }

    .cms-editpage-top__menu__left ul{
        display: block;
        width:100%;
    }

    .cms-editpage-top__menu__group li{
        height:30px;
        line-height:30px;
    }

    .cms-editpage-top__menu__right ul{
        display:flex;
        justify-content: space-between;
    }
}