

.cms-editpage-top{
    padding-left:20px;
    padding-right:20px;
    min-height:50px;
    z-index:999;
}

.cms-editpage-top__menu__logo {
}

.cms-editpage-top__menu{
    display:flex;
    width:100%;
    min-height:50px;

}
.cms-editpage-top__menu_mobilbtn{
    background-color:transparent !important;
    border:none !important;
    display:none;
}

.cms-editpage-top__menu_mobilbtn svg{
    fill:white;
    height:35px;
    width:35px;
}

.cms-editpage-top__menu__group {
    overflow-y: hidden;
    max-height: 0;
    min-height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cms-editpage-top__menu__group--toggle {
    max-height: 600px;
}

.cms-editpage-top__menu__group a,li{
    text-decoration:none;
    color:white;
    list-style-type:none;
}

.cms-editpage-top__menu__left ul, .cms-editpage-top__menu__right ul {
    height: 50px;
    display: flex;
    align-content: center;
    gap: 20px;
    align-items: center;
}

.cms-editpage-setting-p {
    position: relative;
}


.cms-editpage-setting {
    position: fixed;
    color: white;
    z-index: 99;
    background: #1e1e2d;
    right: 0px;
    z-index: 99;
    top: 75px;
    padding: 0 20px 40px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 200px;
    max-width: 230px;
    transition: 0.3s;
}

.cms-editpage-setting__header{
    padding-bottom:20px;
}
.cms-editpage-setting__button {
    position: relative;
    background: #ef305e;
    width: 100px;
    z-index: 5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -87px;
    top: 50px;
    transform: rotate(-90deg);
}

.cms-editpage-setting--toggle {
    right:-230px;
}

.cms-editpage-setting__item{
    display:flex;
    max-height:100px;
    overflow:hidden;
    margin-top:10px;
    border-bottom:solid 1px;
}

.cms-editpage-setting__item__image {
    display: block;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cms-editpage-setting__item__image svg{
    fill:white;
    height:35px;
}

.cms-editpage-setting__item__text{
    width:70%;
}

.cms-editpage-setting__item__title span{
    font-size:15px;
}
.cms-editpage-setting__item__des p{
    font-size:13px;
}


@media (max-width: 768px) {
    .cms-editpage-top__menu {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .cms-editpage-top__menu__logo {
        display: flex;
        width: 100%;
    }
    .cms-editpage-top__menu_mobilbtn {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .cms-editpage-top__menu__group {
        grid-column: 1 / -1;
        display: block;
        width: 100%;
        margin-top:10px;
        min-height:0px;
    }
    .cms-editpage-top__menu__left{
        display: flex;
        width: 100%;
    }

    .cms-editpage-top__menu__left ul{
        display: block;
        width:100%;
    }

    .cms-editpage-top__menu__group li{
        height:30px;
        line-height:30px;
    }

    .cms-editpage-top__menu__right ul{
        display:flex;
        justify-content: space-between;
    }
}