.indivis {
    font-size: 3rem;
    color: #ef305e;
    font-weight: bold;
}

.indivis-min {
    font-size: 2rem;
    color: #ef305e;
    font-weight: bold;
}

.cms-dark-aside {
    background: #1e1e2d;
}

.indivis-point .svg-icon.svg-icon-muted svg [fill]:not(.permanent):not(g) {
    fill: #ef305e !important;
}

.just-validate-error-label {
    color: red !important;
}


.cms-text-decoration-none{
    text-decoration:none;
}


/* Genel Buton Stili */
.cms-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Renkli Butonlar */

/* Primary (Mavi) */
.cms-btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.cms-btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

/* Secondary (Gri) */
.cms-btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

    .cms-btn-secondary:hover {
        color: #fff;
        background-color: #5c636a;
        border-color: #565e64;
    }

/* Success (Yeşil) */
.cms-btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.cms-btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

/* Danger (Kırmızı) */
.cms-btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

    .cms-btn-danger:hover {
        color: #fff;
        background-color: #bb2d3b;
        border-color: #b02a37;
    }

/* Warning (Sarı) */
.cms-btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

    .cms-btn-warning:hover {
        color: #212529;
        background-color: #e0a800;
        border-color: #d39e00;
    }

/* Info (Açık Mavi) */
.cms-btn-info {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

    .cms-btn-info:hover {
        color: #fff;
        background-color: #31d2f2;
        border-color: #25c0e5;
    }

/* Light (Açık) */
.cms-btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

    .cms-btn-light:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }

/* Dark (Koyu) */
.cms-btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.cms-btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}
.cms-spinner-border, .cms-spinner-white-border {
    position: relative;
    height: 100%;
}

.cms-spinner-white-border:before {
     border: 0.25em dotted white;
}

.cms-spinner-border:before {
     border: 0.25em dotted black;
}
.cms-spinner-border:before,.cms-spinner-white-border:before {
    content: '';
    text-align:center;
    line-height:18px;
    display: block;
    position: absolute;
    width: 30px;
    height:30px;
    border-radius: 100%;
    top: 50%;
    margin-top:-15px;
    left:50%;
    margin-left:-15px;
    border-right-color: transparent;
    animation: cms-spinner-border 0.75s linear infinite;
    z-index:2;
}
.cms-spinner-border:after, .cms-spinner-white-border:after {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    backdrop-filter: blur(1px); /* Arka planı bulanıklaştır */

}


@keyframes cms-spinner-border {
    100% {
        transform: rotate(360deg) scale(1);
    }
    50% {
    }
}




body {
    --sb-track-color: #d9e1e4;
    --sb-thumb-color: #93939A;
    --sb-size: 7px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}