@using Indivis.Core.Application.Interfaces.Data.Presentation
@using System.Reflection
@using Indivis.Presentation.WebUI.Widgets.Extensions;
@inject ICurrentResponse res;


<div class="container">
    <section>
        @res.CurrentPage.PageSystem.Name;
        @res.CurrentPage.Name
    </section>

    @await Component.Zone("widget-about-top-widgets", res)
    @await Component.Zone("widget-about-center-widgets", res)
    @await Component.Zone("widget-about-footer-widgets", res)
</div>


