<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    <link rel="stylesheet" href="~/css/Stylesheet1.css" />
    <link href="_content/Indivis.Presentation.WebUI.Views/css/Stylesheet1.css" rel="stylesheet" />
</head>
<body>
    deneme
</body>
</html>
