@using Indivis.Core.Application.Interfaces.Data.Presentation
@using System.Reflection
@using Indivis.Presentation.WebUI.Widgets.Extensions;
@inject ICurrentResponse res;

<section>
    @res.CurrentPage.PageSystem.Name;
    @res.CurrentPage.Name
</section>

@await Component.Zone("about-page-top-zone",res)

@section Head{
    <link rel="stylesheet" href="~/css/Stylesheet1.css" />
    <link href="_content/Indivis.Presentation.WebUI.Views/css/Stylesheet1.css" rel="stylesheet" />
}
