@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        </head>
        <!link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <body>
        
        <div class="container">
            <!form>
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Tasarım Ayarlar</h6>
                </div>
                <div class="card-body">
                    <div class="mb-2 row">
                        <div class="col-4">
                            <label for="exampleInputEmail1" class="form-label">
                                Tasarım Adı <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-title="Some tooltip text!"></i>
                                </label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
            </div>
                
            </!form>
        </div>
        

    <!script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></!script>
    </body>
</html>


